name: Generate artifacts using Hugo, publish them using GitHub pages

on:
  push:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: 0.92.0
    steps:
      - name: Install hugo
        run: |
          HUGO_RELEASES=https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}
          HUGO_PACKAGE=hugo_extended_${HUGO_VERSION}_Linux-64bit.deb
          wget -O ${{ runner.temp }}/hugo.deb ${HUGO_RELEASES}/${HUGO_PACKAGE} \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb
      - name: Get pushed code
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Prepare to run hugo
        id: pages
        uses: actions/configure-pages@v5
      - name: Run hugo
        env:
          HUGO_CACHEDIR: ${{ runner.temp }}/hugo_cache
          HUGO_ENVIRONMENT: production
        run: |
          hugo \
            --minify \
            --baseURL "${{ steps.pages.outputs.base_url }}/"
      - name: Convert markdown to HTML
        run: |
          sudo apt-get install -y pandoc
          pandoc public/expense/index.md -f gfm+emoji -o public/expense/index.html
          rm public/expense/index.md
      - name: Upload generated artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Put artifacts on GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
